[submodule "frontend"]
	path = frontend
	url = https://github.com/Yasmine-Hmida/ChebebTN-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Yasmine-Hmida/ChebebTN-backend.git
